@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme($theme) {
  $accent: map.get($theme, warn);

  .app-warn-invalid {
    border-color: mat.get-color-from-palette($accent, default) !important;
    color: mat.get-color-from-palette($accent, default) !important;
  }

}
